/*
Place your custom CSS here
*/
.tcCodeEditor {
    padding: 8px;
    background: white;
    border-radius: 4px;    
    /* height: calc(100vh - 80px); */
    min-height: 100%;
    resize: vertical;
}